<% wrap_layout :standard do %>

  <br>
  <hr>
  <article>
    <h1><%= current_article.title %>
    <time><%= current_article.date.strftime('%b %e %Y') %></time> </h1>
  </article>
  <hr>

  <%= yield %>

  <br>
    <a href="https://twitter.com/intent/tweet?text=<%= current_article.title %> : &url=http://jefffowler.io<%= current_article.url.to_query('').slice(1..-1) %>" >
      <img width="32" style="margin: 0 8px; vertical-align: middle;" alt="Twitter button" src="https://g.twimg.com/Twitter_logo_blue.png">
      Share on Twitter
    </a>
  <br>
  <hr>

  <div class="prevnext">
    <% if current_article.previous_article %>
      <a href=<%= current_article.previous_article.url %> >
        <p> <-     <%= current_article.previous_article.title %></p>
    </a>
    <% end %>
    <% if current_article.next_article %>
      <a href=<%= current_article.next_article.url %> >
        <p> <%= current_article.next_article.title %>     -> </p>
    </a>
    <% end %>
  </div>

  <hr>
  <br>

   <%# <a href="/allposts"> %>
   <%#  <p class="quarters-txt">see all posts</p> %>
  <%# </a> %>


  <%= disqus %>

<% end %>
