<% wrap_layout :standard do %>

  <br>
  <hr>
  <article>
    <h1><%= current_article.title %>
    <time><%= current_article.date.strftime('%b %e %Y') %></time> </h1>
  </article>
  <hr>

  <%= yield %>


  <div class="prevnext">
    <% if current_article.previous_article %>
      <a href=<%= current_article.previous_article.url %> >
        <p> <-     <%= current_article.previous_article.title %></p>
    </a>
    <% end %>
    <% if current_article.next_article %>
      <a href=<%= current_article.next_article.url %> >
        <p> <%= current_article.next_article.title %>     -> </p>
    </a>
    <% end %>
  </div>

  <hr>
  <br>

   <%# <a href="/allposts"> %>
   <%#  <p class="quarters-txt">see all posts</p> %>
  <%# </a> %>


  <%# <%= disqus %1> %>

<% end %>
