<% wrap_layout :layout do %>
  <br>
  <article style="margin: 2em 0em;">
      <h2 style="display:inline;"><%= current_article.title %></h2> <time><%= current_article.date.strftime('%b %e %Y') %></time>
  </article>
  <hr>

  <%= yield %>

  <br>

  <div class="prevnext">
      <% if current_article.previous_article %>
          <a href=<%= current_article.previous_article.url %> >
              <p><small>&#x25C0;</small> <%= current_article.previous_article.title %></p>
          </a>
      <% end %>
      <% if current_article.next_article %>
          <a href=<%= current_article.next_article.url %> >
              <p> <%= current_article.next_article.title %><small> &#9654;</small></p>
          </a>
      <% end %>
  </div>
<% end %>
