---
title: Blog Posts
layout: standard
hide_footer: true
---

<a href="/allposts">
  <p class="quarters-txt">see all posts</p>
</a>

<% blog.articles[0..5].each do |article| %>
  <article>
  <%# <hr> %>
    <h2>
      <a href="<%= article.url %>" style="text-decoration: none; color:#333;"><%= article.title %></a>
      <time><%= article.date.strftime('%b %e %Y') %></time>
    </h2>
  <hr>
    <%= article.body %>
  </article>
  <br>
  <br>
<% end %>


<%# <% blog.articles[0..5].each do |article| %1> %>
<%#   <article> %>
<%#     <h2> %>
<%#       <a href="<%= article.url %1>" style="text-decoration: none; color:#333;"><%= article.title %1></a> %>
<%#       <time><%= article.date.strftime('%b %e %Y') %1></time> %>
<%#     </h2> %>
<%#     <%= article.summary %1> %>
<%#     <a href="<%= article.url %1>" style="text-align:center;">more</a> %>
<%#   </article> %>
<%#   <hr></hr> %>
<%# <% end %1> %>

<a href="/allposts">
  <h3 class="quarters-txt">see all posts</h3>
</a>

