---
title: Blog Posts
layout: standard
hide_footer: true
---

<a href="/allposts">
  <p class="quarters-txt">see all posts</p>
</a>

<% blog.articles[0..0].each do |article| %>
  <article>
  <%# <hr> %>
    <h2>
      <a href="<%= article.url %>" style="text-decoration: none; color:#333;"><%= article.title %></a>
      <time><%= article.date.strftime('%b %e %Y') %></time>
    </h2>
  <hr>
    <%= article.body %>
  </article>
  <br>
  <br>
<% end %>

<i>Older posts:</i>
<hr>

<% blog.articles[1..5].each do |article| %>
    <article>
        <h3>
            <a href="<%= article.url %>" style="text-decoration: none; color:#333;"><%= article.title %></a>
            <time><%= article.date.strftime('%b %e %Y') %></time>
        </h3>
        <hr>
    </article>
<% end %>

<a href="/allposts">
  <p class="quarters-txt">see all posts</p>
</a>

