<% if drafts.any? %>
    <h1>Drafts</h2>
    <ul>
        <% drafts.each do |draft| %>
            <li><%= link_to draft.title, draft.path %></li>
        <% end %>
    </ul>
<% end %>

<% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
  <hr>
  <h3><%= year %></h3>
    <% articles.each do |article| %>
        <div style="margin:0.5em;">
            <span style="display:inline-block; width:70px;">
                <time><%= article.date.strftime('%b %e') %></time>
            </span>
            <span>
                <a href="<%= article.url %>"><%= article.title %></a>
            </span>
        </div>
    <% end %>
        <br>
<% end %>
